#maindiv {
	align-items: center;
	justify-content: center;
	min-height: 0;
}
canvas {
	background-color: var(--secondary-color);
	width: 75vw;
}
@media (min-aspect-ratio: calc(1.5 / 75 * 90)) {
	canvas {
		width: 135vh;
		height: 90vh;
	}
}