/* My order in property listing is:
	position, left, top, display, flex, background-color
	width, height, padding, border, margin
	line-height
	text-align, color, font (size, family),
	font (weight, style, variant), text-decoration
	transition-duration, list-style-type
	cursor */
/* General items */
* {
	box-sizing: border-box;
}
:root {
	--primary-color: navajowhite;
	--secondary-color: chocolate;
	--accent-color: orangered;
	--background-color: #3F3F3F;
}
body {
	background-color: var(--background-color);
	margin: 0;
	color: var(--background-color);
	font-size: 18px;
	font-family: 'Century Gothic', AppleGothic, sans-serif;
}
a {
	color: var(--accent-color);
	text-decoration: none;
}
button, .button {
	display: inline-block;
	background-color: var(--background-color);
	width: 200px;
	padding: 25px;
	border: none;
	margin: 25px;
	text-align: center;
	color: var(--accent-color);
	font-size: 1em;
	font-family: 'Century Gothic', AppleGothic, sans-serif;
	transition-duration: .5s;
	cursor: pointer;
}
.button.image {
	background-repeat: no-repeat;
	background-size: cover;
}
hr {
	border-style: solid;
	color: var(--background-color);
}
/* Navbar */
header {
	background-color: var(--primary-color);
	padding: 20px;
	line-height: 1.25;
	text-align: center;
}
header h1 {
	flex: auto;
}
#navbar {
	background-color: var(--background-color);
	overflow: hidden;
	margin: 0;
	color: var(--accent-color);
	list-style-type: none;
}
#navbar a{
	display: inline;
	float: left;
	padding: 15px;
	transition-duration: .5s;
	color: var(--secondary-color);
	text-align: center;
}
#navbar a.right {
	float: right;
}
#navbar a.active, #navbar a:hover:not(.active), a:hover, button:hover {
	background-color: var(--accent-color);
	color: var(--background-color);
}
#open-icon, #close-icon {
	display: none;
	flex: none;
	width: 100px;
	padding: calc(1.43em / 6);
	margin: 0;
	font-size: 3em;
	cursor: pointer;
}
/* Layout */
#flex {
	display: flex;
}
aside {
	background-color: var(--secondary-color);
	width: 20%;
	padding: 20px;
}
main {
	background-color: var(--primary-color);
	width: 80%;
	padding: 20px;
}
footer {
	background-color: var(--background-color);
	padding: 15px;
	color: var(--primary-color);
	text-align: center;
	font-style: italic;
}
/* Responsive design */
@media (max-width: 1080px) {
	header {
		display: flex;
		background-color: var(--background-color);
		color: var(--secondary-color);
	}
	#open-icon.shown, #close-icon.shown {
		display: inline;
	}
	#navbar {
		padding: 0;
		font-size: 15px;
	}
	#navbar:not(.shown) {
		display: none;
	}
	aside {
		width: 33%;
	}
	main {
		width: 67%;
	}
}
@media (max-width: 625px) {
	body {
		font-size: 15px;
	}
	#flex, aside, main {
		display: block;
		width: 100%;
	}
	#navbar a {
		width: 50%;
	}
	#navbar a.right {
		width: 100%;
	}
	#navbar {
		padding: 0;
	}
}