* {
	box-sizing: border-box;
}
:root {
	--primary-color: wheat;
	--secondary-color: peru;
	--accent-color: orangered;
	--background-color: #3F3F3F;
}
body {
	background-color: var(--background-color);
	margin: 0px;
	color: var(--background-color);
	font-family: "Century Gothic", "Apple Gothic", AppleGothic, sans-serif;
}
a {
	color: var(--accent-color);
	text-decoration: none;
}
button, .button {
	background-color: var(--background-color);
	display: inline-block;
	width: 200px;
	padding: 25px;
	border: none;
	margin: 25px;
	transition-duration: 0.5s;
	color: var(--accent-color);
	text-align: center;
	font-size: 1em;
	cursor: pointer;
}
header {
	background-color: var(--primary-color);
	padding: 20px;
	text-align: center;
}
#navbar {
	background-color: var(--background-color);
	overflow: hidden;
	margin: 0px;
	list-style-type: none;
}
#navbar a{
	display: inline;
	float: left;
	padding: 15px;
	transition-duration: 0.5s;
	color: var(--secondary-color);
	text-align: center;
}
#navbar a.right {
	float: right;
}
#navbar a.active, #navbar a:hover:not(.active), a:hover, button:hover {
	background-color: var(--accent-color);
	color: var(--background-color);
}
#open-icon, #close-icon {
	display: none;
	width: 100px;
	height: 100px;
}
main {
	background-color: var(--primary-color);
	width: 100%;
	height: 640px;
}
aside {
	background-color: var(--secondary-color);
	float: left;
	width: 20%;
	height: 640px;
	padding: 20px;
}
article {
	float: left;
	width: 80%;
	height: 640px;
	padding: 20px;
}
canvas {
	background-color: var(--secondary-color);
	position: absolute;
	left: 50%;
	width: 960px;
	height: 640px;
	margin-right: -50%;
	transform: translate(-50%);
}
main:after {
	content: "";
	display: table;
	clear: both;
}
footer {
	background-color: var(--background-color);
	padding: 15px;
	color: var(--primary-color);
	font-style: italic;
	text-align: center;
}
@media (max-width: 800px) {
	header {
		background-color: var(--background-color);
		color: var(--secondary-color);
	}
	#navbar * {
		display: none;
	}
	#open-icon {
		display: inline;
	}
}