* {
	box-sizing: border-box;
}
body {
	background-color: #3F3F3F;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}
a {
	display: block;
	float: left;
	color: white;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.5s;
	padding: 15px;
}
a:hover:not(.active) {
	background-color: white;
	color: black;
}
a.active {
	background-color: red;
}
.topnav {
	overflow: hidden;
	background-color: #3F3F3F;
}
header {
	background-color: #EFEFEF;
	padding: 20px;
	text-align: center;
}
.side {
	background-color: #BFBFBF;
	float: left;
	width: 20%;
	height: 400px;
	padding: 20px;
}
.main {
	background-color: #EFEFEF;
	float: left;
	width: 80%;
	height: 400px;
	padding: 20px;
}
section:after {
	content: "";
	display: table;
	clear: both;
}
footer {
	background-color: #3F3F3F;
	color: white;
	font-style: italic;
	text-align: center;
	padding: 15px;
}