* {
	box-sizing: border-box;
}
body {
	background-color: #3F3F3F;
	margin: 0px;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
header {
	background-color: antiquewhite;
	padding: 20px;
	text-align: center;
}
a {
	color: antiquewhite;
	text-decoration: none;
}
ul {
	background-color: #3F3F3F;
	overflow: hidden;
	margin: 0px;
	list-style-type: none;
}
li a{
	display: inline;
	float: left;
	padding: 15px;
	transition-duration: 0.5s;
	text-align: center;
}
a.active {
	background-color: red;
}
a:hover:not(.active) {
	background-color: antiquewhite;
	color: black;
}
.side {
	background-color: sandybrown;
	float: left;
	width: 20%;
	height: 400px;
	padding: 20px;
}
.main {
	background-color: antiquewhite;
	float: left;
	width: 80%;
	height: 400px;
	padding: 20px;
}
section:after {
	content: "";
	display: table;
	clear: both;
}
footer {
	background-color: #3F3F3F;
	padding: 15px;
	color: sandybrown;
	font-style: italic;
	text-align: center;
}